.score {
    color: #DA70D6;
    float: right;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.level-experience {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   
    /* Image Level */
    background-image: url("/assets/images/player/level-experience.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center; 
}

#member-count {
    font-weight: bold;
}
